{
    "ENV_STORE_URL": "",
    "ENV_ADMIN_URL": "",
    "ENV_CLIENT_USER": "",
    "ENV_CLIENT_PASS": "",
    "ENV_ADMIN": "",
    "ENV_ADMIN_PASS": "",
    "REMOTE_LOG_URL": "",
    "ENV_CURRENCY_TO_CHANGE_WITH": "USD",
    "ENV_HTTP_USER": "",
    "ENV_HTTP_PASS": ""
}